body {
  padding-top: 80px;
}

h1 {
  font-size: 50px;
}

.center {
  text-align: center;
}

#login-button {
  background-image: url('../img/login-button.png');
  background-position: 0px 0px;
  display: inline-block;
  width: 202px;
  height: 46px;
}

#login-button:hover {
  background-position: 0px 46px;
  cursor: pointer;
}